extends layout

block content
    h1 #{title}
    form(method='POST', action='/news/add' enctype="multipart/form-data")
        #form-group
            label Title:
            input.form-control(name='title', type='text')
        #form-group
            label Body:
            textarea.form-control(name='body')
        #form-group
            label Image:
            input.form-control(id='image' name='image' type="file")
        br
        input.btn.btn-primary(type='submit', value='Submit')