extends layout

block content
        div(id="map" style="width: 800px; height: 400px")
        h1 #{title}
        ul.list-group
                each news, i in news_list
                        li.list-group-item
                                a(href="/news/"+news._id)= news.title
                                p= news.body
