extends layout

block content
        .container(class='flex-box-container')
                div(class="div_map" id="map")
                div(style="width: 5%; float: right")
                div(class='activity_div' )
                        h5 Create Activity:
                        form(method='POST', action='/activities/add')
                                #form-group
                                        label Name:
                                        input.form-control(name='name', type='text')
                                #form-group
                                        label Author:
                                        input.form-control(name='author', type='text')
                                #form-group
                                        label Latitude:
                                        input.form-control(id='latitude' name='latitude', type='number' step="0.000000000000000001")
                                #form-group
                                        label Longitude:
                                        input.form-control(id='longitude' name='longitude', type='number' step="0.000000000000000001")
                                #form-group
                                        label Start Date:
                                        input.form-control(id='start_date' name='start_date', type='date')
                                #form-group
                                        label End Date:
                                        input.form-control(name='end_date', type='date')
                                br
                                input.btn.btn-primary(class="btn-green" type='submit', value='Create')
        .container
                h1(class='green_news_title') #{title}
                ul.list-group
                        each news, i in news_list
                                li.list-group-item
                                        a(class="link-like-p" href="/news/"+news._id)= news.title
                                        div(class='news_container')
                                                p(class='news_body')= news.body
                                                if news.image_url
                                                        img(src= news.image_url class='news_image')
                                                else
                                                        img(src='https://magazineclonerepub.blob.core.windows.net/mcepub/2535/175821/image/6773d272-71de-4e36-a4c4-c8590231b677.jpg' class='news_image')
