doctype html
html
    head
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        title Green Social Network
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        link(rel="stylesheet", href="/css/layout.css", type="text/css")
        script(src="https://api-maps.yandex.ru/2.1/?apikey=195348e7-eea7-45a3-b1fe-5d91933185df&lang=ru_RU", type="text/javascript")
        script
            include ../utils/maps.js
    body
        .container
            ul(class='main_nav')
                li(class='li_nav')
                    a(href='/', class='a_nav') Green Social Network
                li(class='li_nav')
                    a(href='/', class='a_nav') Home
                if user
                    li(class='li_nav')
                        a(href='/news/add/', class='a_nav') Add News
                    li(class='li_nav')
                        a(href='/chats', class='a_nav') Chats
                if user
                    li(class='right_nav')
                        a(href='/users/logout', class='a_nav') Logout
                    li(class='right_nav')
                        a(href='/users/' + user.id, class='a_nav') Profile
                else
                    li(class='right_nav')
                        a(href='/users/register', class='a_nav') Register
                    li(class='right_nav')
                        a(href='/users/login', class='a_nav') Login
        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2020
