.flex-box-container{
    display: flex;
}

.div_map{
    width: 90%;
    height: 900px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.body{
    margin: 0;
}

.gsn_header{
    flex-direction: row;
}

.main_icon{
    margin-left: 3%;
    margin-top: 32px;
    width: 4.5%;
    height: 6.5%;
}

.header_links{
    float: none;
    list-style-type: none;
    overflow: hidden;
    margin-right: 32px;
}

.header_link{
    float: right;
    margin-left: 0;
    margin-top: 32px;
    margin-right: 5%;
}

.a_header{
    color: #746E69;
    font-size: 44px;
    text-decoration: none;
    display: block;
    font-family: Roboto, Serif;
}