.flex-box-container{
    display: flex;
}

.div_map{
    width: 100%;
    height: 900px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1%;
}

.body{
    margin: 0;
}

.gsn_header{
    flex-direction: row;
}

.main_icon{
    margin-left: 3%;
    margin-top: 32px;
    width: 4.5%;
    height: 6.5%;
}

.header_links{
    float: none;
    list-style-type: none;
    overflow: hidden;
    margin-right: 32px;
}

.header_link{
    float: right;
    margin-left: 0;
    margin-top: 32px;
    margin-right: 5%;
}

.a_header{
    color: #746E69;
    font-size: 44px;
    text-decoration: none;
    display: block;
    font-family: Roboto, Serif;
}

.a_header_selected{
    color: black;
    font-size: 44px;
    text-decoration: none;
    display: block;
    font-family: Roboto, Serif;
}

.first_section{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}

.profile_photo{
    width: 120px;
    height: 120px;
}

.first_section h1{
    color: #746E69;
    font-size: 36px;
    text-decoration: none;
    display: block;
    font-family: Roboto, Serif;
    font-weight: bold;
    margin-left: 1%;
}

.add_activity_section{
    display: flex;
    flex-direction: column;
    margin-left: 92%;
}

.add_activity_btn{
    margin-left: 85%;
    background:transparent url("/icons/icon-plus.png") no-repeat center;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    border: None;
    border-radius: 90px;
}

.add_activity_btn:focus{
    outline: None;
}

.add_activity_section h1{
    color: #746E69;
    font-size: 32px;
    text-decoration: none;
    display: block;
    font-family: Roboto, Serif;
    font-weight: normal;
    margin-top: 5%;
    margin-left: 80%;
}

@media only screen and (max-width: 1900px) {
    .a_header {
        font-size: 26px;
    }

    .a_header_selected{
        font-size: 26px;
    }

    .title_gsn {
        font-size: 40px;
    }

    .div_map{
        height: 500px;
        margin-top: 0.5%;
    }

    .main_icon{
        margin-top: 10px;
        width: 3%;
        height: 8%;
    }

    .profile_photo{
        width: 90px;
        height: 90px;
    }

    .first_section h1{
        font-size: 26px;
    }

    .add_activity_btn{
        width: 40px;
        height: 40px;
    }

    .add_activity_section h1{
        font-size: 16px;
    }
}